*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  text-align: center;
}

select{
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 10px;
}